
.header {
	background-color: #00802F;
	text-align: center;
	margin: auto;
	vertical-align: center;
}

.logo {
	position: relative;
		margin-left: 118px;
		margin-bottom: 7px;
    	z-index: 100;
        vertical-align: middle;
        margin-top: 6px;
}
