<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<div class="row">

  <div class="col-sm-2"></div>
  <div class="col-sm-8 chatcontent">

    <h2 style="text-align:center;" >
      Willkommen bei der Chat-Applikation von "The Floor is Java"
    </h2>

    <p class="Blocksatz">Happy Chatting! </p>


   <div>

    <div>
            
        <div>
          <div class="col-sm-2"></div>
        <div class="col-sm-8">

         
            </div>

 </div>

