<script type='text/javascript' src="http://code.jquery.com/jquery-latest.pack.js"></script>

<div class="header">
<div class="row">

    <div class="col-sm-3"><h1><p></p>The Floor is Java Chat</h1></div>
    <div class="col-sm-6"></div>
    <div class="col-sm-3"><img src="/ChatApp/src/assets/logo_de.jpg" width="55%" height="auto" alt="HSG" class="desktop-only"></div>

</div>
</div>


<!--
      <header class="Header">
        <!--<img class="logo" src="http://www.senntee.ch/unisg.png" width="420px" height="auto">
        -->
        <!-- <img class="logo" src="https://raw.githubusercontent.com/HSG-HS2017/Assets/master/logo_de.jpg" width="420px" height="auto"> -->
<!--        <h1 class="Titeltext">
          The Floor is Java Chat 
            </h1>
          </header>
          
    </body>
    </html> -->
    