header {
    overflow: hidden;
}
.logo {
    float: right;
    margin-right:100px;
    width: 336px;
    height: auto;
}

.Titeltext {
    margin-left: 100px;
    margin-top: 50px;
    color: rgb(182, 182, 182);

}

.Header {
    border-bottom: 2px solid black;
}
