<html>
  <html>
    <script type='text/javascript' src="http://code.jquery.com/jquery-latest.pack.js"></script>
    <body>

      <header class="Header">
        <!--<img class="logo" src="http://www.senntee.ch/unisg.png" width="420px" height="auto">
        -->
        <img class="logo" src="https://raw.githubusercontent.com/HSG-HS2017/Assets/master/logo_de.jpg" width="420px" height="auto">
        <h1 class="Titeltext">
          The Floor is Java Chat
            </h1>
          </header>
          
    </body>
    </html>
    