/* You can add global styles to this file, and also import other style files */
header {
    background-color: #00802f;
     
}

content {
    background-color: red

}

footer {
    background-color: #00802f;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 22px;
}

